body{
  font-family: Arial;
  text-align: center;
}

textarea{
  width: 300px;
  height: 100px;
}

.note{
  background: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

button{
  margin-top: 5px;
}